@use '_commons' as c;

.logo__header{
    
    font-size: 50px;
    
    & :hover{
        color: map-get(c.$colores, hover) !important;
    }
}

.menu__navegacion{
    
    font-size: 20px;

    & :hover{
        color: map-get(c.$colores, hover) !important;  
    }
}

.navbar-toggler {
    border-color: white;
    border-radius: 20px;
}